.metadata/
.recommenders/
ioc_demo_001/.classpath
ioc_demo_001/.project
ioc_demo_001/.settings/
spring_demo_001/.classpath
spring_demo_001/.project
spring_demo_001/.settings/
spring_demo_001/target/
SpringDemo001/.classpath
SpringDemo001/.project
SpringDemo001/.settings/
SpringDemo001/target/
SpringDemo002/.classpath
SpringDemo002/.project
SpringDemo002/.settings/
SpringDemo002/target/
SpringDemo003/target/
SpringDemo003/.classpath
SpringDemo003/.project
SpringDemo003/.settings/
